body {
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    background: url(../image/Bground.jpeg) no-repeat center center/cover ;
    margin :0px;
    padding: 0px;
    background-position: center centre; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    
  }
  
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
  h1{
    color: #900C3F ;
  }
  h3{
    color: 	#8B0000;
  }
