body {
  background-color:  #EAF9F5;
  background: url(../image/bg.jpeg) no-repeat center center/cover ;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #900C3F ;
}
h3{
  color: #FF5733 ;
}
